<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mercado Liebre</title>
        <link href="/css/estilos.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div class="main-header">
            <img width="100%" src="/images/logo-mercado-liebre.svg"  alt="Mercado Liebre"/>
            
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>

            <p class="opciones"><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de crédito</p>
            </div>
            
            <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul>
                <li>
                    <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                </li>
                <li>
                    <a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
</nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </header>

        <img width="100%" src="/images/img-home-banner.jpg" alt="Mercado Liebre">

        <main>
            <section>
                <h2>Sección: Basado en tu última visita</h2>

                <div class="visitados">
                    <div class="articulo">
                    <img width="100%" style="max-width: 400px;" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera"/>
                    <div class="datos-articulo">
                        <i class="fas fa-truck"></i>
                        <div class="precios">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
</div>
                        <div class="descripcion">Cafetera Moulinex</div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="articulo">
                    <img width="100%" style="max-width: 400px;" src="/images/img-macbook-pro-2019.jpg" alt="Macbook"/>
                    <div class="datos-articulo">
                        <i class="fas fa-truck"></i>
                            <div class="precios">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p></div>
                        <div class="descripcion">MacBook Pro 2019</div>
                             <div class="clear"></div>
                    </div>
                </div>

                <div class="articulo">
                    <img width="100%" style="max-width: 400px;" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung galaxy"/>
                    <div class="datos-articulo">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <div class="descripcion">Samsung Galaxy S10</div>
                             <div class="clear"></div>
                    </div>
                </div>

                <div class="articulo">
                    <img width="100%" style="max-width: 400px;" src="/images/img-tv-samsung-smart.jpg" alt="TV Smart"/>
                    <div class="datos-articulo">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <div class="descripcion">SmartTv Samsung 43"</div>
                    </div>
                </div></div>
            </section>

            <section>
                <h2>Sección de Ofertas</h2>
                     <div class="visitados">
                <div class="articulo">
                    <img width="100%" style="max-width: 400px;" src="/images/img-cafetera-moulinex.jpg"  alt="Cafetera"/>
                    <div class="datos-articulo">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <div class="descripcion">Cafetera Moulinex</div>
                    </div>
                </div>

                <div class="articulo">
                    <img width="100%" style="max-width: 400px;" src="/images/img-macbook-pro-2019.jpg" alt="Macbook"/>
                    <div class="datos-articulo">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <div class="descripcion">MacBook Pro 2019</div>
                    </div>
                </div>

                <div class="articulo">
                    <img width="100%" style="max-width: 400px;" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung galaxy" />
                    <div class="datos-articulo">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <div class="descripcion">Samsung Galaxy S10</div>
                    </div>
                </div>

                <div class="articulo">
                    <img width="100%" style="max-width: 400px;" src="/images/img-tv-samsung-smart.jpg"  alt="TV Smart"/>
                    <div class="datos-articulo">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <div class="descripcion">SmartTv Samsung 43"</div>
                    </div>
                </div></div>
            </section>
        </main>
        <footer>
            <ul>
                <li>
                    <i class="fas fa-credit-card"></i><br />
                    <strong>Pagá con tarjeta o en efectivo</strong><br />
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </li>
                <li>
                    <i class="fas fa-gift"></i><br />
                    <strong>Envío gratis desde $ 2.500</strong><br />
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </li>

                <li>
                    <i class="fas fa-user-shield"></i><br />
                    <strong>Seguridad, de principio a fin</strong><br />
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                </li>
 </ul>
               <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
           
        </footer>
    </body>
</html>
