<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mercado Liebre</title>
        <link href="/css/estilos.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    </head>
<body>
  <header>
            <div class="main-header">
           <img width="100%" src="/images/logo-mercado-liebre.svg"  alt="Mercado Liebre"/>
            
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>

            <p class="opciones"><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de crédito</p>
            </div>
            
            <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul>
                <li>
                    <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                </li>
                <li>
                    <a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
</nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </header>

        <main class="registro">
  <form action="" method="post">
<label>Nombre y Apellido</label>
<input required placeholder="Coloca tu nombre" type="text" name="nombre"><br><br>

<label>Nombre de usuario</label>
<input placeholder="Coloca tu usuario" type="text" name="usuario"><br><br>

<label>Fecha de nacimiento</label>
<input placeholder="Coloca tu fecha de nacimiento" type="date" name="fechaNacimiento"><br><br>

<label>Domicilio</label>
<input placeholder="Coloca tu domicilio" type="text" name="domicilio"><br><br>


<label>Tipo de usuario:</label><br>
<label for="vendedor">
<input type="radio" value="vendedor" name="tipoUsuario" id="vendedor">Vendedor</label><br>
<label for="comprador">
<input type="radio" value="comprador" name="tipoUsuario" id="comprador">Comprador</label><br><br>
<label>Categorías de interés</label><br>
<label>
<input type="checkbox" name="categorias" value="electro" id="electro">Electro
</label><br>
<label>
<input type="checkbox" name="categorias" value="moda" id="moda">Moda
</label><br>
<label>
<input type="checkbox" name="categorias" value="hogar" id="hogar">Hogar
</label><br>
<label>
<input type="checkbox" name="categorias" value="jugueteria" id="jugueteria">Juguetería
</label><br>
<label>
<input type="checkbox" name="categorias" value="vidaSana" id="VidaSana">Vida Sana
</label><br>

<br>
<label>Foto de usuario</label>
<input placeholder="Selecciona tu foto" type="file" name="foto"><br><br>


<label>Password</label>
<input placeholder="Coloca tu password" type="password" name="password"><br><br>

<label>Repite contraseña</label>
<input placeholder="Repetir contraseña" type="password" name="rpassword">



<button type="reset">Borrar</button>

<button type="submit">Enviar</button>
  </form>

</main>
    <footer>
            <ul>
                <li>
                    <i class="fas fa-credit-card"></i><br />
                    <strong>Pagá con tarjeta o en efectivo</strong><br />
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </li>
                <li>
                    <i class="fas fa-gift"></i><br />
                    <strong>Envío gratis desde $ 2.500</strong><br />
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </li>

                <li>
                    <i class="fas fa-user-shield"></i><br />
                    <strong>Seguridad, de principio a fin</strong><br />
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                </li>
 </ul>
               <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
           
        </footer>
</body>
</html>